body{
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F7F8;
    
}
header{
    background-color: #006BB4;
}
legend{
    font-size: 1.1em;
}
form table{
    width: 100%;
}
footer{
    background-color: #006BB4;
    color: white;
    font-size: 10pt;
    padding: 5px;
    margin-top: 5px;
}
footer p{
    text-align: center;
}
footer h2{
    text-align: center;
    font-size: 1.2em;
    margin-left: 0em;
}
footer a{
    color: white;
}

.terms{
    font-size: 0.7em;
}
#agreeText{
    font-size: 0.8em;
}
fieldset{
    border: 2px solid #FDC743;
    margin-top: 30px;
    padding: 15px;
    font-size: 0.9em;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;

}
.submitButton{
    width: 350px;
    height: 60px;
    color: white;
    font-size: 0.9em;
    background-color:  #049404;
    border-radius: 3px;
    border: 2px solid  #049404;
    margin: 10px;
}
.submitButton:hover{
    color: #62BB47;
    background-color: white;
}

.dashbutton {
	width: 150px;
	height: 50px;
	border: 2px solid  #049404;
    font-size: 20px;
    border-radius: 3px;

	background-color: #049404;
	color: #ffffff;
	transition: 0.4s;
}

.dashbutton:hover {
	background-color: #ffffff;
	color: #049404;
}

.cancelbt{
    width: 100px;
}
form input, form select{
    width: 70%;
    padding: 7px;
    font-size: 0.8em;
    border: 1px solid #006BB4 ;
    background-color: #E1E8ED;
    border-radius: 3px;
    max-width: 500px;
}
form td{
    padding: 9px;
}
main{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 500px;
    clear: both;
    
}

input:focus{
    border: 2px solid #006BB4 ;
}
.sortBox{
    width: 50%;
    max-width: 120px;
}
.agreeCheckBox{
    
        
        width:30px;
        height:30px;
        background:white;
        border-radius:5px;
        border:2px solid #006BB4;
}
h1{
    margin-left: 5%;
    padding-top: 10px;
}

header h1 {
    display: inline;
    color: white;
}

header img{
    background-color: white;
    
    margin: 10px;
}

.content-main {
    background-color: white;
	border: none;
	width: 1000px;
	max-width: 1000px;
	min-height: 580px;
	margin: auto;
	overflow: hidden;
}
/*

header {
	font-size: 25px;
	font-family: "textfont";
	text-align: center;
}
*/

nav {
	float: right;
	margin: 10px;
	padding-right: 10px;
}


.containerbox {
    
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.box {
	display: inline-block;
	border: 2px solid #FDC743;
	width: 55%;
	height: 230px;
	font-size: 0.9em;
	margin: auto;
	text-align: center;
}

.rightbox{
    width: 40%;
}

.dashform{
    width: 40%;
}
h2{
    font-size: 1.1em;
    margin-left: 2.5%;
}
#TripDetails {
    font-size: 0.7em;
    margin-left: 2.5% ;
    margin-right: 2.5%;
    border-collapse: collapse;
    margin-bottom: 10px;

}

#TripDetails tr{
    border: 2px solid #006BB4;
    border-left: 15px solid #006BB4;
    border-radius: 20px;
    margin-bottom: 20px;

}
#TripDetails td{
    width: 40%;
    padding-left: 10px;
    padding: 5px;
}
#TripDetails .cancelbt{
    width:90%;
    background-color: red;
    border: 2px solid red;
}
#TripDetails .cancelbt:hover{
    width:90%;
    background-color: white;
    
    color: red;
}
button {
    background-color: #049404;
    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    background-color: #ffffff;
    color: #049404;
    border: 2px solid  #049404;
}

.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

.sign_in_main{
    margin-left: 450px;
    margin-right: 550px;
}

.container {
    padding: 16px;
}

.container_bot{
    padding: 16px;
    background-color: lightgrey;
}

.container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signInForm{
    border: 3px solid #f1f1f1;
}

span.psw{
    float: right;
    padding-top: 16px;
}

.signInForm .container p{
    display: inline;
}

.sign_in_main .sign_up{
    float: right;
    padding-right: 16px;
}